.chat-profile {
  width: 100%;
  height: 90px;
  background-color: #1BAA96;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-sizing: border-box;
}

/* === LEFT SIDE === */
.event-core-info {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
}

.left-event-core-info {
  display: flex;
  align-items: center;
}

.event-avatar {
  width: 60px;
  height: 60px;
  background-color: #eee;
  color: #111;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-event-core-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.event-name-profile {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.event-details-profile {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.profile-tag {
  background-color: #b6e2dd;
  color: black;
  padding: 3px 6px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* === RIGHT SIDE === */
.event-core-info2 {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  flex-shrink: 0;
  min-width: 180px;
  height: 100%;
  flex-direction: row;
  justify-content:center;
  padding: 5px 0;
}

.meta-box {
  background-color: #b6e2dd;
  color: #000;
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  text-align: center;
  
  min-height: 32px;
}

.meta-box img {
  object-fit: contain;
}

.location-icon {
  width: 20px;
  height: 20px;
}

.calendar-icon {
  width: 32px;
  height: 32px;
}

.calendar-box {
  flex-direction: column;
  gap: 0px;
  padding: 2px 4px;
  min-width: 50px;
  height: 90%;
  position: relative;
}

.calendar-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.calendar-date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  margin-top: 5px;
}

.calendar-month {
  font-size: 10px;
  font-weight: 600;
  color: #000;
  line-height: 1;
  margin-top: 2px;
  text-align: center;
}

.meta-sub {
  font-size: 12px;
  color: #444;
  margin-top: -4px;
}

.updownstack {
  display: flex;
  flex-direction: column;
  gap: 4px;
}