*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  background: linear-gradient(to right, #BCDDC5, #DCF1E3);
}



.login-main{
    color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:80%;
    aspect-ratio: 3/2;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.18);
    
    
}

.login-left{
    color: blue;
    background-color: #E6FDEC;
    height: 100%;
    width:60%;
    border-radius: 20px 0px 0px 20px;
}
.login-right{
    color: blue;
    background-color: #F9FFFB;
    height: 100%;
    width:40%;
    border-radius: 0px 20px 20px 0px;

}