.quote-bubble {
  width: 100%;
  
  border-radius: 12px;
  background: transparent;
}

.quote-bubble.right {
 
  background: transparent;
  width:97%;
}

.quote-bubble.left {

  background: transparent;
  width:97%;

}

.quote-meta {
  font-size: 12px;
  color: #777;
  margin-top: 1px;
}
