.quote-bubble {
  width: 100%;
  
  border-radius: 12px;
  background: #e0ffe0;
}

.quote-bubble.right {
 
  background: #dbe9ff;
  width:97%;
}

.quote-bubble.left {
  
  background: #fffbe0;
  width:97%;

}

.quote-meta {
  font-size: 12px;
  color: #777;
  margin-top: 6px;
}
